#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>
#

[worldserver]

########################################
# Bot Locale Module Configuration
########################################
#
#    BotLocale.Enable
#        Description: Enable bot locale override module
#        Default:     0 - Disabled (bots use auto-detected locale from players)
#                     1 - Enabled (bots use forced locale from BotLocale.DefaultLocale)
#

BotLocale.Enable = 1

#
#    BotLocale.DefaultLocale
#        Description: Force specific locale for bot chat messages
#        Default:     8 - Russian (ruRU)
#        
#        Available locales:
#        0 = enUS (English - United States)
#        1 = koKR (Korean)
#        2 = frFR (French)
#        3 = deDE (German)
#        4 = zhCN (Chinese)
#        5 = zhTW (Taiwanese)
#        6 = esES (Spanish - Spain)
#        7 = esMX (Spanish - Mexico)
#        8 = ruRU (Russian)
#

BotLocale.DefaultLocale = 8
