#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Force Locale Module Configuration
########################################
#
#    ForceLocale.Enable
#        Description: Enable forced locale for playerbots text manager
#        Default:     0 - Disabled (use default locale priority system)
#                     1 - Enabled (force specific locale)
#

ForceLocale.Enable = 0

#
#    ForceLocale.Locale
#        Description: Set the locale to force for playerbots
#        Important: MAX_LOCALES = 8 means valid indices are 0-7
#                   Locale 7 (esMX) is commonly used for Russian texts in DB
#        Values:      0  = enUS (English - United States)
#                     1  = koKR (Korean)
#                     2  = frFR (French)
#                     3  = deDE (German)
#                     4  = zhCN (Chinese - China)
#                     5  = zhTW (Chinese - Taiwan)
#                     6  = esES (Spanish - Spain)
#                     7  = esMX (Spanish - Mexico) / ruRU (Russian in DB)
#        Default:     7 (used for Russian texts in text_loc7 column)
#

ForceLocale.Locale = 7
